<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>IPL Winner Prediction</title>
</head>
<body>
    <div class="header">
        <h1>----------------------------------------- IPL Winner Prediction ----------------------------------------</h1>
    </div>

    <form method="post" action="/predict">
        <label>Select Batting Team</label><br>
        <select name="Batting" id="batting">
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Delhi Capitals">Delhi Capitals</option>
            <option value="Gujarat Titans">Gujarat Titans</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Lucknow Supergiants">Lucknow Supergiants</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
            <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
        </select>

        <br><br>

        <label>Select Bowling Team</label><br>
        <select name="Bowling">
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Delhi Capitals">Delhi Capitals</option>
            <option value="Gujarat Titans">Gujarat Titans</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Lucknow Supergiants">Lucknow Supergiants</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
            <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
        </select>

        <br><br>

        <label>Select City</label><br>
        <select name="City">
            <option value="Hyderabad">Hyderabad</option>
            <option value="Rajkot">Rajkot</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Indore">Indore</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Delhi">Delhi</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Kanpur">Kanpur</option>
            <option value="Jaipur">Jaipur</option>
            <option value="Chennai">Chennai</option>
            <option value="Cape Town">Cape Town</option>
            <option value="Port Elizabeth">Port ELizabeth</option>
            <option value="Durban">Durban</option>
            <option value="Centurion">Centurion</option>
            <option value="East London">East London</option>
            <option value="Johannesburg">Johannesburg</option>
            <option value="Kimberley">Kimberley</option>
            <option value="Bloemfontein">Bloemfontein</option>
            <option value="Ahmedabad">Ahmedabad</option>
            <option value="Cuttack">Cuttack</option>
            <option value="Nagpur">Nagpur</option>
            <option value="Dharamsala">Dharamsala</option>
            <option value="Visakhapatnam">Visakhapatnam</option>
            <option value="Raipur">Raipur</option>
            <option value="Ranchi">Ranchi</option>
            <option value="Abu Dhabi">Abu Dhabi</option>
            <option value="Sharjah">Sharjah</option>
            <option value="Mohali">Mohali</option>
            <option value="Bengaluru">Bengaluru</option>
        </select>

        <br><br>

        <label>Enter Target</label>
        <input type="number" name="Target"><br><br>

        <label>Enter Score</label>
        <input type="number" name="Score"><br><br>

        <label>Overs Completed</label>
        <input type="number" name="Overs"><br><br>

        <label>Wickets</label>
        <input type="number" name="Wickets"><br><br>

        <input type="submit" value="Predict"><br><br>
        {% if result %}
            <p>Batting Team Winning Probability-->{{ result }}%</p>
            <p>Bowling Team Winning Probability-->{{ 100-result }}%</p>
        {% endif %}
    </form>
</body>
</html>