/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./styles/wrapper.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.wrapper_header__iQ_Dx {
    text-align: center;
}

.wrapper_buttons__SKJQO{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_buttons__SKJQO button {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 6px;
}

.wrapper_buttons__SKJQO button:hover {
    cursor: pointer;
}
